<h1>Burger Time!</h1>

<h2>Not Devoured</h2>

<ul>
  {{#each Burger}}
    {{#unless Devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are sleepy!</h2>

<ul>
  {{#each Burger}}
    {{#if Devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Hungry?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Hungry!<br>
    <input type="radio" name="sleepy" value="0"> Full
  </div>

  <button type="submit">Add Burger</button>
</form>